footer.footer-section
  .container
    .row.g-4
      .col-lg-4.col-md-6
        .footer-brand GoFiber
        p.mt-3.pe-lg-5 Building modern, high-performance web applications with Go Fiber framework. Fast, flexible, and developer-friendly.
        .footer-social.mt-3
          a(href="#")
            i.bi.bi-github
          a(href="#")
            i.bi.bi-twitter-x
          a(href="#")
            i.bi.bi-linkedin
          a(href="#")
            i.bi.bi-youtube
      .col-lg-2.col-md-6
        h6 Product
        ul.list-unstyled
          li.mb-2
            a(href="#features") Features
          li.mb-2
            a(href="#") Pricing
          li.mb-2
            a(href="#") Documentation
          li.mb-2
            a(href="#") Changelog
      .col-lg-2.col-md-6
        h6 Company
        ul.list-unstyled
          li.mb-2
            a(href="#about") About Us
          li.mb-2
            a(href="#") Careers
          li.mb-2
            a(href="#") Blog
          li.mb-2
            a(href="#contact") Contact
      .col-lg-2.col-md-6
        h6 Resources
        ul.list-unstyled
          li.mb-2
            a(href="#") Community
          li.mb-2
            a(href="#") Partners
          li.mb-2
            a(href="#") Guides
          li.mb-2
            a(href="#") Support
      .col-lg-2.col-md-6
        h6 Legal
        ul.list-unstyled
          li.mb-2
            a(href="#") Privacy Policy
          li.mb-2
            a(href="#") Terms of Service
          li.mb-2
            a(href="#") Cookie Policy
    .footer-divider
    .row.align-items-center
      .col-md-6
        p.mb-0.small &copy; 2026 GoFiber. All rights reserved.
      .col-md-6.text-md-end
        p.mb-0.small Made with
          i.bi.bi-heart-fill.text-danger.mx-1
          | using Go Fiber &amp; Bootstrap 5
