nav.navbar.navbar-expand-lg.navbar-custom.fixed-top
  .container
    a.navbar-brand(href="#") GoFiber
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.align-items-center
        li.nav-item
          a.nav-link(href="#features") Features
        li.nav-item
          a.nav-link(href="#about") About
        li.nav-item
          a.nav-link(href="#testimonials") Testimonials
        li.nav-item
          a.nav-link(href="#contact") Contact
        li.nav-item.ms-lg-3
          a.btn.btn-primary-custom(href="#contact") Get Started
